body{ 
		font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	}
	#inputSearchUser
	{
		width:350px;
		border:solid 1px #000;
		padding:3px;
	}
	#divResultSearchUser
	{
		position:absolute;
		width:350px;
		display:none;
		margin-top:-1px;
		border:solid 1px #dedede;
		border-top:0px;
		overflow:hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		box-shadow: 0px 0px 5px #999;
		border-width: 3px 1px 1px;
		border-style: solid;
		border-color: #333 #DEDEDE #DEDEDE;
		background-color: white;
	}
	.display_box
	{
		padding:4px; border-top:solid 1px #dedede; 
		font-size:12px; height:50px;
	}
	.display_box:hover
	{
		background:#3bb998;
		color:#FFFFFF;
		cursor:pointer;
	}